apparmor==2.13.6
asgiref==3.3.0
asn1crypto==1.4.0
autopep8==2.0.1
awscli==1.19.1
Babel==2.8.0
beautifulsoup4==4.9.3
blinker==1.4
botocore==1.20.0
Brlapi==0.8.4
capstone==4.0.2
certifi==2022.9.24
chardet==4.0.0
cli-helpers==2.3.0
click==8.1.3
colorama==0.4.4
configobj==5.0.6
contourpy==1.0.7
cryptography==3.3.2
cupshelpers==1.0
cycler==0.11.0
dbus-python==1.2.16
delegator.py==0.1.1
distlib==0.3.6
distro==1.5.0
distro-info==1.0
docutils==0.19
filelock==3.8.0
Flask==2.0.1
Flask-HTTPAuth==3.2.4
fonttools==4.38.0
frida==16.0.5
frida-tools==12.0.3
future==0.18.2
gmpy2==2.1.2
gpg===1.14.0-unknown
gr==1.21.0
greenlet==0.4.17
gyp==0.1
html5lib==1.1
httplib2==0.18.1
idna==2.10
importlib-metadata==1.6.0
importlib-resources==5.10.2
itsdangerous==2.1.2
Jinja2==3.0.3
jmespath==0.10.0
joblib==1.2.0
kiwisolver==1.4.4
leechcorepyc==2.14.1
LibAppArmor==2.13.6
litecli==1.9.0
louis==3.24.0
lxml==4.6.3
Mako==1.1.3
Markdown==3.3.4
MarkupSafe==2.0.1
mate-menu==20.4.1
mate-tweak==21.4.2
matplotlib==3.7.0
mechanize==0.4.5
more-itertools==4.2.0
msgpack==1.0.0
mutagen==1.45.1
netifaces==0.10.9
numpy==1.23.5
nyx==2.1.0
objection==1.11.0
olefile==0.46
onboard==1.4.1
onionshare==2.2
opencv-contrib-python==4.7.0.68
opencv-python==4.7.0.68
packaging==20.9
pandas==1.5.3
pefile==2022.5.30
pexpect==4.8.0
Pillow==8.1.2
platformdirs==2.5.4
plotly==5.13.0
prompt-toolkit==3.0.33
psutil==5.8.0
ptyprocess==0.7.0
pyasn1==0.4.8
PyBOMBS==2.3.5
pycairo==1.16.2
pycodestyle==2.10.0
pycryptodome==3.10.4
pycryptodomex==3.9.7
pycups==2.0.1
pycurl==7.43.0.6
Pygments==2.7.1
PyGObject==3.42.2
pyinotify==0.9.6
pynvim==0.4.2
pyOpenSSL==20.0.1
pyparsing==2.4.7
PyQt5==5.15.2
PyQt5-sip==12.10.1
PySimpleSOAP==1.16.2
pysmbc==1.0.23
PySocks==1.7.1
python-apt==2.2.1+parrot1
python-dateutil==2.8.1
python-debian==0.1.39
python-debianbts==3.1.0
python-dotenv==0.15.0
python-snappy==0.6.0
python-xapp==2.0.2
python-xlib==0.29
pytz==2021.1
pyxattr==0.7.2
pyxdg==0.27
PyYAML==5.3.1
reportbug==7.10.3+deb11u1
requests==2.25.1
roman==2.0.0
rsa==4.0
ruamel.yaml==0.15.42
ruamel.yaml.clib==0.2.7
s3transfer==0.3.4
scikit-learn==1.2.1
scipy==1.10.0
seaborn==0.12.2
semver==2.13.0
setproctitle==1.2.1
simplejson==3.17.2
six==1.16.0
sklearn==0.0.post1
soupsieve==2.2.1
sqlparse==0.4.3
stem==1.8.0
tabulate==0.9.0
tenacity==8.2.1
threadpoolctl==3.1.0
tomli==2.0.1
torbrowser-launcher==0.3.6
tqdm==4.64.1
ufw==0.36
unattended-upgrades==0.1
urllib3==1.26.5
vboxapi==1.0
virtualenv==20.16.7
volatility3==2.4.1
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==2.0.2
xdg==5
yara-python==4.2.3
youtube-dl==2021.6.6
z3-solver==4.11.2.0
zipp==1.0.0
